<h1 class="ui dividing header">Http</h1>
<sui-accordion class="styled fluid">
  <sui-accordion-panel [isOpen]="true">
    <div title>
      <i class="dropdown icon"></i>
      Setup
    </div>
    <div content>
      <pre appCodeSection [align]="'left'">
        <code>
          import &#123; HttpClientModule } from '@angular/common/http';
          
          ....

          @NgModule(&#123; 
            imports: [
              HttpClientModule,
              .....
            ]
          })
        </code>
      </pre>
    </div>
  </sui-accordion-panel>
  <sui-accordion-panel>
    <div title>
      <i class="dropdown icon"></i>
      Write a service
    </div>
    <div content>
      <p>Separate presentation of data from data access by encapsulating data access in a separate service and delegate tasks to that service.</p>
    </div>
  </sui-accordion-panel>
  <sui-accordion-panel>
    <div title>
      <i class="dropdown icon"></i>
      Type Checking Response
    </div>
    <div content>
      <pre appCodeSection [align]="'left'">
        <code>
          // Define an interface with correct shape
          export interface Config &#123;
            data_1: ....,
            data_2: ....  
          }

          // Returns observable of Config
          this.http.get&#60;Config>('SOME_URL');
        </code>
      </pre>
    </div>
  </sui-accordion-panel>
    <sui-accordion-panel>
    <div title>
      <i class="dropdown icon"></i>
      Read Full Response
    </div>
    <div content>
      <pre appCodeSection [align]="'left'">
        <code>
          // Explicitly declare for getting full response
          getConfigResponse(): Observable&#60;HttpResponse&#60;Config>> &#123;
            return this.http.get&#60;Config>(this.configUrl, &#123; observe: 'response' });
          }
          
          showConfigResponse() &#123;
            this.configService.getConfigResponse().subscribe(
              resp => &#123;
                const keys = resp.headers.keys();
                this.headers = keys.map(
                  key => `$&#123;key}: $&#123;resp.headers.get(key)}`
                );
                this.config = &#123; ... resp.body };
              }
            );
          }
        </code>
      </pre>
    </div>
  </sui-accordion-panel>
  <sui-accordion-panel>
    <div title>
      <i class="dropdown icon"></i>
      Error Handling
    </div>
    <div content>
      <pre appCodeSection [align]="'left'">
        <code>
          import &#123; Observable, throwError } from 'rxjs';
          import &#123; catchError, retry } from 'rxjs/operators';

          private handleError(error: HttpErrorResponse) &#123;
            if (error.error instanceof ErrorEvent) &#123;
              // A client-side or network error occurred. Handle it accordingly.
              console.error('An error occurred:', error.error.message);
            } else &#123;
              // The backend returned an unsuccessful response code.
              // The response body may contain clues as to what went wrong,
              console.error(
                `Backend returned code $&#123;error.status}, ` +
                `body was: $&#123;error.error}`);
            }
            // return an observable with a user-facing error message
            return throwError(
              'Something bad happened; please try again later.');
          };

          getConfig() &#123;
            return this.http.get&#60;Config>(this.configUrl)
              .pipe(
                catchError(this.handleError)
              );
          }
        </code>
      </pre>
    </div>
  </sui-accordion-panel>
  <sui-accordion-panel>
    <div title>
      <i class="dropdown icon"></i>
      Consume Subscription
    </div>
    <div content>
      <p>Methods written in service are not executed until we subscribe to it.</p>
      <pre appCodeSection>
        <code>
          this.someSvc.fetchData().subscribe(
            (values) => ......,
            (error)  => ......,
            ()       => ..... // completed state  
          );
        </code>
      </pre>
    </div>
  </sui-accordion-panel>
  <sui-accordion-panel>
    <div title>
      <i class="dropdown icon"></i>
      Adding Headers
    </div>
    <div content>
      <pre appCodeSection>
        <code>
          const headers = &#123;
            headers: new HttpHeaders(&#123;
              'Content-Type': 'application/json'
            })
          };

          return this.http.put('URL', servers, headers);
        </code>
      </pre>
    </div>
  </sui-accordion-panel>
  <sui-accordion-panel>
    <div title>
      <i class="dropdown icon"></i>
      Interceptor
    </div>
    <div content>
asd
    </div>
  </sui-accordion-panel>
</sui-accordion>