<h1 class="ui dividing header">Routing Page!</h1>
<div class="ui red segment">
	<ul class="ui list">
		<li>Import <strong>Router</strong> from '@angular/router'</li>
		<li>Inject dependency</li>
	</ul>
</div>

<sui-accordion class="styled fluid">
	<sui-accordion-panel [isOpen]="true">
		<div title>
			<i class="dropdown icon"></i> Navigate
		</div>
		<div content>
			<p>this.router.navigate([....])</p>
		</div>
	</sui-accordion-panel>
	<sui-accordion-panel>
		<div title>
			<i class="dropdown icon"></i> Retrieving Params From Url
		</div>
		<div content>
			<ol class="ui list">
				<li>import ActivatedRoute & Params from '@angular/router'</li>
				<li>inject</li>
				<li>Method 1: Non-reusable, this.route.snapshot.params['PARAM_NAME']</li>
				<li>Method 2: this.route.params.subscribe( (params: Params) => ... params['PARAM_NAME'])</li>
				<li>Params will be of type string</li>
			</ol>
		</div>
	</sui-accordion-panel>
	<sui-accordion-panel>
		<div title>
			<i class="dropdown icon"></i> Routing Path
		</div>
		<div content>
			<ol class="ui list">
				<li>import Routes from '@angular/router'</li>
				<li>const appRoutes: Routes = [ JSON_OBJECTS ]
					<ol>
						<li>path: '...'</li>
						<li>component: ....</li>
						<li>children: [ JSON_OBJECT ]</li>
						<li>pathMatch: 'full'</li>
						<li>redirectTo: '....'</li>
					</ol>
				</li>
			</ol>
		</div>
	</sui-accordion-panel>
	<sui-accordion-panel>
		<div title>
			<i class="dropdown icon"></i> Route Links
		</div>
		<div content>
			<p>Using HTML anchor tag to navigate to other components</p>
			<ol class="ui list">
				<li>routerLink="..."</li>
				<li>[routerLink]="[....]"</li>
				<li>routerLinkActive="active"</li>
				<li>[routerLinkActiveOptions]="JSON_OBJECT(exact: true)"</li>
			</ol>
		</div>
	</sui-accordion-panel>
	<sui-accordion-panel>
		<div title>
			<i class="dropdown icon"></i>Queries & Fragment
		</div>
		<div content>
			<p>Passing queries parameters and fragment by specifying below attribute in an anchor tag</p>
			<ol class="ui list">
				<li>[queryParams]="JSON_OBJECT(key: value)"</li>
				<li>fragment="..."</li>
			</ol>
		</div>
	</sui-accordion-panel>
	<sui-accordion-panel>
		<div title>
			<i class="dropdown icon"></i>Merging | Preserving Current Params
		</div>
		<div content>
			<p>Current params can be forwarded to the next URL</p>
			<ol class="ui list">
				<li>queryParamsHandling="preserve OR merge"</li>
			</ol>
		</div>
	</sui-accordion-panel>
	<sui-accordion-panel>
		<div title>
			<i class="dropdown icon"></i>Router Outlet
		</div>
		<div content>
			<p>Tell angular where to load the dynamic component's view</p>
		</div>
	</sui-accordion-panel>
	<sui-accordion-panel>
		<div title>
			<i class="dropdown icon"></i>Out-Sourcing Routes
		</div>
		<div content>
			<p>Each feature module can declare it's own routes and be exported</p>
			<ol class="ui list">
				<li>Create routing module file, ___-routing.module.ts</li>
				<li>Declare routes, const _____Routes: Routes = [.....]</li>
				<li>Include meta-data, @NgModule(JSON_OBJECT)</li>
				<li>JSON_OBJECT => imports: RouterModule.(forRoot OR forChild)(ROUTE_NAME)</li>
				<li>exports: [RouterModule]</li>
			</ol>
		</div>
	</sui-accordion-panel>
</sui-accordion>