<h1 class="ui dividing header">Animation</h1>
<sui-accordion class="styled fluid">
  <sui-accordion-panel [isOpen]="true">
    <div title>
      <i class="dropdown icon"></i>
      Requirements
    </div>
    <div content>
      <pre appCodeSection>
        <code>
          <h5 class="ui dividing header">AppModule</h5>
            import &#123; BrowserAnimationsModule } from '@angular/platform-browser/animations';
            .....
            imports : [.....BrowserAnimationsModule, ..... ]
          <h5 class="ui dividing header">Animation Module</h5>
            import &#123; trigger, state, style, transition, animate, keyframes, group } from '@angular/animations';
            .....

            @Component(&#123;
              selectors: [...],
              templateUrl: ....,
              styleUrl: ....,
              animations: [....]
            })
        </code>
      </pre>
    </div>
  </sui-accordion-panel>
  <sui-accordion-panel>
    <div title>
      <i class="dropdown icon"></i>
      Example: Animate Transition Between Two States
    </div>
    <div content>
      <button class="ui primary button" (click)="onTransform()">Transform!</button>
      <p>Current State : {{ state }}</p>
      <div style="width:100px; height:100px;" [@divState]="state">
      </div>
      <pre appCodeSection [align]="'left'">
        <code>
            trigger('divState', [
              state('normal', style(&#123;
                'background-color':'red',
                transform: 'translateX(0)'
              })),
              state('warning', style(&#123;
                'background-color':'orange',
                transform: 'translateX(100px)'
              })),
              transition('normal => warning', animate(300)),
              transition('warning => normal', animate(500))
            ])
        </code>
      </pre>
    </div>
  </sui-accordion-panel>
  <sui-accordion-panel>
    <div title>
      <i class="dropdown icon"></i>
      Example: Animate Deplex-Transition Between Any State
    </div>
    <div content>
      <button class="ui primary button" (click)="onTransform()">Transform!</button>
      <button class="ui primary button" (click)="onShrink()">Shrink!</button>
      <p>Current State : {{ state }}</p>
      <div style="width:100px; height:100px;" [@divStateV2]="stateV2">
      </div>
      <pre appCodeSection [align]="'left'">
        <code>
          trigger('divStateV2', [
            state('normal', style(&#123;
              'background-color':'red',
              transform: 'translateX(0)'
            })),
            state('warning', style(&#123;
              'background-color':'orange',
              transform: 'translateX(100px)'
            })),
            state('shrink', style(&#123;
              'background-color':'green',
              transform: 'translateX(0) scale(0.5)' 
            })),
            transition('normal => warning', animate(300)),
            transition('warning => normal', animate(800)),
            transition('shrink <=> *', [
              animate(2000, style(&#123;
                'border-radius':'20px',
                'background-color':'pink'
              })),
              animate(1000)
            ])
          ])
        </code>
      </pre>
    </div>
  </sui-accordion-panel>
  <sui-accordion-panel>
    <div title>
      <i class="dropdown icon"></i>
      Example: Animate Fly-In
    </div>
    <div content>
      <div class="ui input">
        <input type="text" placeholder="item..." #input2>
      </div>
      <button class="ui primary button" (click)="onAdd(input2.value)">Add Item!</button>

      <div class="ui celled list">
        <div class="item" *ngFor="let item of list" (click)="onDelete(item)" [@animateList]>
          <div class="content">{{ item }}</div>
        </div>
      </div>

      <pre appCodeSection [align]="'left'">
        <code>
          trigger('divStateV2', [
            state('normal', style(&#123;
              'background-color':'red',
              transform: 'translateX(0)'
            })),
            state('warning', style(&#123;
              'background-color':'orange',
              transform: 'translateX(100px)'
            })),
            state('shrink', style(&#123;
              'background-color':'green',
              transform: 'translateX(0) scale(0.5)' 
            })),
            transition('normal => warning', animate(300)),
            transition('warning => normal', animate(800)),
            transition('shrink <=> *', [
              animate(2000, style(&#123;
                'border-radius':'20px',
                'background-color':'pink'
              })),
              animate(1000)
            ])
          ])
        </code>
      </pre>
    </div>
  </sui-accordion-panel>
  <sui-accordion-panel>
    <div title>
      <i class="dropdown icon"></i>
      Example: Animate Using Keyframes & Grouping Animation
    </div>
    <div content>
      <div class="ui input">
        <input type="text" placeholder="item..." #input>
      </div>
      <button class="ui primary button" (click)="onAdd(input.value)">Add Item!</button>

      <div class="ui celled list">
        <div class="item" *ngFor="let item of list" (click)="onDelete(item)" [@animateList2]>
          <div class="content">{{ item }}</div>
        </div>
      </div>

      <pre appCodeSection [align]="'left'">
        <code>
          trigger('animateList2', [
            transition('void => *', [
              animate(1000, keyframes([
                style(&#123;
                  transform: 'translateX(-100px)',
                  opacity: 0,
                  offset: 0
                }),
                style(&#123;
                  transform: 'translateX(-50px)',
                  opacity: 0.5,
                  offset: 0.3
                }),
                style(&#123;
                  transform: 'translateX(-20px)',
                  opacity: 1,
                  offset: 0.8
                }),
                style(&#123;
                  transform: 'translateX(0)',
                  opacity: 1,
                  offset: 1
                })
              ]))
            ]),
            transition('* => void', [
              group([
                animate(300, style(&#123;
                  color:'red'
                })),
                animate(800, style(&#123;
                  opacity: 0,
                  transform: 'translateX(100px)'
                }))
              ])
            ])
          ])
        </code>
      </pre>
    </div>
  </sui-accordion-panel>
</sui-accordion>
