<div class="ui top attached menu">
  <a class="item" (click)="sidebar.toggle()">
    <i class="sidebar icon"></i> Menu
  </a>
</div>
<sui-sidebar-container class="ui bottom attached segment">
  <sui-sidebar class="vertical" #sidebar>
    <a class="item" [routerLink]="['/']">Home</a>
    <a class="item" [routerLink]="['/animation']">Animation</a>
    <a class="item">Authentication & Route Protection</a>
    <a class="item">Angular Modules & Optimizing Apps</a>
    <a class="item" [routerLink]="['/deployment']">Deployment</a>
    <a class="item" [routerLink]="['/attribute-directive']">Directive (Attribute)</a>
    <a class="item" [routerLink]="['/structural-directive']">Directive (Structural)</a>
    <a class="item">Form (Template Driven)</a>
    <a class="item">Form (Reactive)</a>
    <a class="item" [routerLink]="['/guarding']">Guarding</a>
    <a class="item" [routerLink]="['/http']">HTTP</a>
    <a class="item" [routerLink]="['/observable']">Observable</a>
    <a class="item" [routerLink]="['/pipe']">Pipe</a>
    <a class="item" [routerLink]="['/routing']">Routing</a>
    <a class="item">Service</a>
    <a class="item">Unit Testing</a>
  </sui-sidebar>
  <sui-sidebar-sibling [isDimmedWhenVisible]="true">
    <div class="ui container">
      <router-outlet></router-outlet>
    </div>
  </sui-sidebar-sibling>
</sui-sidebar-container>
