<h1 class="ui dividing header">
	Observable
</h1>
<sui-accordion class="styled fluid">
	<sui-accordion-panel [isOpen]="true">
		<div title>
			<i class="dropdown icon"></i> Definition
		</div>
		<div content>
			<p>Provide support for passing messages between publishers and subscribers. It is not executed until a consumer subscribes
				to it and capable to deliver multiple values of any type. Setup & tear down logic are both handled by the observable.</p>
		</div>
	</sui-accordion-panel>
	<sui-accordion-panel>
		<div title>
			<i class="dropdown icon"></i> Publisher
		</div>
		<div content>
			<ul class="ui list">
				<li>Create an observable instance that defines a subscriber function</li>
				<li>Subscriber function execute when consumer calls the subscribe() method, and passing an observer.</li>
				<li>Subscribe() call returns a subscription object that has an unsubscribe() mthod to be call to stop receiving notification.</li>
			</ul>
		</div>
	</sui-accordion-panel>
	<sui-accordion-panel>
		<div title>
			<i class="dropdown icon"></i> Observer
		</div>
		<div content>
			<ul class="ui list">
				<li>An Javascript object that defines the handlers for the notifications to be received. </li>
				<li>next - (Required) A handler for each delivered value</li>
				<li>error - (Optional) A handler for an error notification</li>
				<li>() - (Optional) A handler for the execution complete notification</li>
			</ul>
		</div>
	</sui-accordion-panel>
	<sui-accordion-panel>
		<div title>
			<i class="dropdown icon"></i> Subject
		</div>
		<div content>
			<p>Can act as an publisher & observer!</p>
		</div>
	</sui-accordion-panel>
	<sui-accordion-panel>
		<div title>
			<i class="dropdown icon"></i> Example: Observable
		</div>
		<div content>
			<app-base></app-base>
		</div>
	</sui-accordion-panel>
  <sui-accordion-panel>
    <div title>
      <i class="dropdown icon"></i>Example: Subscribing
    </div>
    <div content>
      <div class="ui two item menu">
        <a 
          class="item" 
          [routerLink]="['user', 1]"
          routerLinkActive="active">User 1 {{ user1Activated ? '(activated)' : ''}}
        </a>
        <a 
          class="item" 
          [routerLink]="['user', 2]"
          routerLinkActive="active">User 2 {{ user2Activated ? '(activated)' : ''}}
        </a>
      </div>
      <router-outlet></router-outlet>
    </div>
  </sui-accordion-panel>
</sui-accordion>