<sui-accordion class="styled fluid">
  <sui-accordion-panel [isOpen]="true">
    <div title>
      <i class="dropdown icon"></i>
      Definition
    </div>
    <div content>
      <ul class="ui list">
      <li>Angular built-in pipes <a href="https://angular.io/api?query=pipe">More...</a></li>
      <li>Pipes can be configure by passing a string as a parameter after colons</li>
      <li>Pipes can be chained</li>
      <li>Custom Pipe
        <ol>
          <li>Create ___.pipe.ts file</li>
          <li>import <code>Pipe, PipeTransform</code> from angular core</li>
          <li>Include <code>@Pipe</code> and declare object <code>name: ___</code> inside</li>
          <li>Implements <code>PipeTransform</code></li>
          <li>The function first parameter is compulsory <code>transform(value, ...)</code> </li>
          <li>Return a value</li>
        </ol>
      </li>
      <li>Updating an array doesn't trigger pipe to re-run, hence it's called Pure Pipe</li>
      <li>Impure pipe refer to re-run of pipe whenever input values changes. As a result, performance is greatly affected</li>
      <li>Async data i.e. Observable & Promise should use 'async' pipe</li>
    </ul>
    </div>
  </sui-accordion-panel>
  <sui-accordion-panel>
    <div title>
      <i class="dropdown icon"></i>
      Example: ShortenPipe
    </div>
    <div content>
      <p>{{ randomString | shorten:5 }}</p>
    </div>
  </sui-accordion-panel>
  <sui-accordion-panel>
    <div title>
      <i class="dropdown icon"></i>
      Example: ReversePipe
    </div>
    <div content>
      <p>{{ randomString | uppercase | reverse }}</p>
    </div>
  </sui-accordion-panel>
  <sui-accordion-panel>
    <div title>
      <i class="dropdown icon"></i>
      Example: FilterPipe & SortPipe
    </div>
    <div content>
      <div class="ui input">
        <input type="text" [(ngModel)]="filteredStatus">
      </div>
      <ul class="ui list">
        <li
          *ngFor="let server of servers | filter:filteredStatus:'status' | sort:'name'"
          [ngClass]="">
          <span>
            {{ server.status }}
          </span>
          <strong>{{ server.name | shorten:5 }}</strong> | 
          {{ server.instanceType | uppercase | reverse }} | 
          {{ server.started | date: 'fullDate' }}
        </li>
      </ul>
    </div>
  </sui-accordion-panel>
</sui-accordion>