<sui-accordion class="styled fluid">
	<sui-accordion-panel [isOpen]="true">
		<div title>
			<i class="dropdown icon"></i> CanActivate Guard
		</div>
		<div content>
			<p>Restrict access to certain routes based on some conditions.</p>
			<pre codeSection>
    <code>
      &#123; path: '____', canActivate: [SOME_GUARDS...], component: ______ }

      OR

      &#123; path: '____', canActivateChild: [SOME_GUARDS...], component: ______ }
    </code>
  </pre>

			<div class="ui dividing header">Implementation</div>
			<ol class="ui list">
				<li>Create a file ___-guard.service.ts</li>
				<li>Import CanActivate, ActivatedRouteSnapshot, RouterStateSnapshot & Router from @angular/router</li>
				<li>Import Observable from rxjs</li>
				<li>Import injectable from @angular/core</li>
				<li>Implement CanActivate interface</li>
				<li>Inject Router</li>
				<li>CanActivate(private route: ActivatedRouteSnapshot, private state: RouterStateSnapshot): Observable of boolean | Promise
					of boolean | boolean &#123;.....}</li>
			</ol>
		</div>
	</sui-accordion-panel>
	<sui-accordion-panel>
		<div title>
			<i class="dropdown icon"></i> CanDeactivate Guard
		</div>
		<div content>
			<p>Restrict user from leaving based on some conditions.</p>
			<pre>
    <code>
      &#123; path: '____', canActivate: [SOME_GUARDS...], component: ______ }
    </code>
      </pre>
			<div class="ui dividing header">Implementation</div>
			<ol class="ui list">
				<li>Create a file ___-can-deactivate-guard.service.ts</li>
				<li>Create and export CanComponentDeactivate interface with a method canDeactivate: () => Observable of boolean | Promise
					of boolean | boolean </li>
				<li>Create CanDeactivateGuard class</li>
				<li>Import CanActivate, ActivatedRouteSnapshot, RouterStateSnapshot & Router from @angular/router</li>
				<li>Import Observable from rxjs</li>
				<li>Import injectable from @angular/core</li>
				<li>Implement CanDeactivate interface of CanComponentDeactivate </li>
				<li>Inject Router</li>
				<li>CanDeactivate(component: CanComponentDeactivate, currentRoute: ActivatedRouteSnapshot, currentState: RouterStateSnapshot,
					nextState?: RouteStateSnapshot): Observable of boolean | Promise of boolean | boolean &#123; .... return component.canDeactivate();
					}
				</li>
				<li>Implement CanComponentDeactivate interface on the desired component</li>
				<li></li>
			</ol>
		</div>
	</sui-accordion-panel>
	<sui-accordion-panel>
		<div title>
			<i class="dropdown icon"></i> Pass data using the 'data' field in the path route
		</div>
		<div content>
			<pre>
    <code>
      &#123; path: '____', component: ______, data: &#123; message: '....' } }
    </code>
  </pre>
			<p>Import Data from @angular/router</p>
			<p>Retrieve the data by subscribing to this.route.data.subscribe( (data: Data) => .....data['message']....)</p>
		</div>
	</sui-accordion-panel>
	<sui-accordion-panel>
		<div title>
			<i class="dropdown icon"></i> Resolving dynamic data with Resolve Guard
		</div>
		<div content>
			<pre>
    <code>
      &#123; path: '____', component: ______, resolve: &#123; server: ____Resolver } }
    </code>
  </pre>
			<p>Retrieve data from the server before loading the component.</p>
			
      <div class="ui dividing header">Implementation</div>
			<ol class="ui list">
				<li>Create a file ___-resolver.service.ts</li>
				<li>Create class ___Resolver</li>
				<li>Implement Resolver</li>
				<li>Import ActivatedRouteSnapshot, RouterStateSnapshot from @angular/router</li>
				<li>Import Observable from rxjs</li>
				<li>Import injectable from @angular/core</li>
				<li>Implement the method resolve(route: ActivatedRouteSnapshot, state: RouterStateSnapshot): Observable of boolean | Promise of boolean | boolean &#123; .... return DESIRED_DATA; }</li>
				<li>Retrieving: this.route.data.subscribe( (data: Data) => ......data['key'])</li>
				<li></li>
			</ol>
		</div>
	</sui-accordion-panel>
</sui-accordion>